<h2><%= @event.name %>:List</h2>

<%= form_for @attendee, :url => event_attendees_path(@event) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, :class=> "form-control" %>
  <%= f.submit%>
<% end %>


<ul id="attendees-list">
  <% @attendees.each do |a| %>

    <div id="attendees-list">
      <%= render :partial => "attendee", :locals => { :a => a} %>
    </div>

  <% end %>
</ul>


<%= link_to "New attendee", new_event_attendee_path(@event), :class=>"btn"%>
<%= link_to "back to index", events_path %>
