<h2><%= @event.name %></h2>
<p><%= @event.status %></p>

<% like = @event.find_like_by(current_user) %>

<%# html的方法 %>
<h2><%#= @event.likes.count %></h2>
<%# if like %>
<%#= link_to "Unlike", event_like_path(@event, like), :method => :delete, :class => "btn btn-primary btn-lg" %>
<%# else %>
<%#= link_to "Like", event_likes_path(@event), :method => :post, :class => "btn btn-primary btn-lg" %>
<%# end %>

<%# ajax的方法 %>
<div id="like-area">
  <%= render :partial => "like", :locals => { :like => like } %>
</div>



<p>Category: <%= @event.category.try(:name) %><p>

<%= simple_format(@event.description) %>

<% if @event.logo.exists?  %>
  <%= image_tag (@event.logo.url(:thumb)) %>
<%else %>
  None
<% end  %>

<p>Group:
<% @event.groups.each do |g| %>
  <%= g.name %>
<% end %>
</p>

<% @event.users.each do |user| %>
  <p><%= user.email %></p>
<% end %>


<%= button_to "Join", join_event_path(@event) %>
<%= button_to "Withdraw", withdraw_event_path(@event), method: :post %>


<p><%= link_to 'Back to index',events_path %></p>
