<h1>Product List</h1>

<p>
<%= link_to "Pay now!", new_order_path, class: "btn btn-primary" %>
</p>

<div id="cart">
  <%= render "cart" %>
</div>

<div class="container clearfix">
  <% @products.each do |p| %>
    <div class="item">

      <%= link_to product_path(p) do %>
        <%= image_tag(Faker::Avatar.image, :width =>56) %>
        <%= p.name %>
      <% end %>

      $ <%= p.price %>
    <%= button_to "Buy", buy_product_path(p), :class => "btn btn-danger btn-xs", :mothod => :post, :remote => true %>
    </div>
  <% end %>
</div>
