<h1>Product List</h1>

<p>Cart: <%= @cart.line_items.map{ |l| l.qty}.sum%></p>
<ul>
  <% @cart.line_items.each do |line| %>
    <li>
      <%= line.product.name  %>
      <%= link_to "取消", cancel_product_path(line.product), :method => :post %>
    </li>
  <% end %>
</ul>


<div class="container clearfix">
  <% @products.each do |p| %>
    <div class="item">

      <%= link_to product_path(p) do %>
        <%= image_tag(Faker::Avatar.image, :width =>56) %>
        <%= p.name %>
      <% end %>

      $ <%= p.price %>
    <%= button_to "Buy", buy_product_path(p), :class => "btn btn-danger btn-xs", :mothod => :post %>
    </div>
  <% end %>
</div>
